body{
    margin: 0;
    padding: 0;
    background-color: black;
}

h1{
    margin: auto;
    text-align: center;
    color: #228c73;
    border: 12px solid white;
    margin-top: 22%;
    margin-left: 38%;
    margin-right: 38%;
}