body{
    background-color: #d3d3d3;
}

/*navbar*/


.navbar{
    background-color: #646464 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    margin-left: 60%;
    background-color: #646464 !important;
    line-height: 44px;
    
  }

a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-right: 36px;
    text-decoration: none;
  }
  

  /*section*/

  section{
      background-color: white;
      margin: -47px 88px 12px 88px;
  }

  .accueil{
      margin : 48px 0 0 24px;
      padding-top: 36px;
  }

hr{
    margin: 0 24px 24px 0;
}

  /*premier paragraphe*/

.troisieme{
    border: 1px solid grey;
    margin: 0 24px 24px 0;
}

  h3{
      text-align: center;
  }

  .texte1{
      margin: 12px 400px 12px 48px;
      text-align: justify;
  }

  .poussin1{
      float: right;
      margin-right: -250px;
      margin-top: -190px
  }

/*deuxieme paragraphe*/

.quatrieme{
    border: 1px solid grey;
    margin: 0 24px 24px 0;
}

.texte2{
    text-align: justify;
    margin-left: 250px;
    margin-top: -190px;
    padding-right: 48px;

}
.poussin2{
    margin-left: 30px;
    padding-left: 3px;
}

/*troisieme paragraphe*/

.cinquieme{
    border: 1px solid grey;
    margin: 0 24px 24px 0;
    
}

.poussin3{
    margin-left: 30px;
    padding-left: 3px;
}

.texte3{
    margin-top: -300px;
    height:auto; 
    text-align:justify; 
    padding: 96px 48px 48px 124px;
    float: left;
    text-indent: 48px;

}