body {
    background-color: #111;
}
img {
    z-index: 0;
    display: block;
    margin: auto;
    padding: 96px;
}

.opacified:hover {
    z-index: 1000;
    background-color: rgba(11,11,11, .88);
    border-radius: 50%;
    transition: all .3s ease;
}

